<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div style="text-align: rigth">
     Login : <span th:text="${name}"></span>
 </div>
 <hr/>
 <pre>
 <!-- <a th:href="@{/taches}">All Taches</a>   
  
  <a th:href="@{/tacheafaire}">Taches a faire</a>  
  
  <a th:href="@{/login}">logout</a>-->

  <a href="/taches">All Tasks</a><br>
  <a href="/tacheafaire">tasks En cours</a><br>
  <a href="/add_task">Ajouter une tache</a><br>
   <a href="/logout">log out</a>
 </pre>
    
</body>
</html>